.pagination {
  display: flex;
  align-items: center;
}

.pageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  color: var(--font-color-dark);
  font-size: 18px;
  margin: var(--space-2);
  padding: var(--space-2);
}

.pageButton:disabled {
  cursor: default;
}

.pageButton:hover:not(:disabled, .activePage) {
  background: var(--primary-color);
  color: var(--font-color-light);
}

.activePage {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
}
