.container {
  min-height: 100%;
  background: var(--background-color);
}

.content {
  padding: var(--space-6);
}

.title {
  font-size: 14px;
  font-weight: 300;
}

.tasks {
  width: 100%;
  margin-top: var(--space-5);
}

.errorMessage {
  margin-bottom: var(--space-2);
  font-size: 13px;
}

.listHeader {
  margin: var(--space-4) 0;
  border-bottom: 1px solid var(--table-border-color);
}

.footer {
  display: flex;
  justify-content: flex-end;
}
