.form {
  width: 100%;
  padding: var(--space-8) var(--space-8) var(--space-5);
  color: var(--font-color-dark);
}

.title {
  margin-bottom: var(--space-7);
  font-size: 14px;
  font-weight: 300;
}

.dateInput {
  width: 132px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-4);
  margin-top: var(--space-7);
}

@media (max-width: 780px) {
  .form {
    padding: var(--space-7) var(--space-5) var(--space-5);
  }
}

@media (max-width: 520px) {
  .form {
    padding: var(--space-6) var(--space-4) var(--space-4);
  }

  .actions {
    grid-template-columns: 1fr;
  }
}
