.table {
  width: 100%;
}

.tableRow {
  position: relative;
  display: flex;
  padding: var(--space-2) 0;
  transition:
    box-shadow 0.5s,
    transform 0.5s;
}

.tableRow:hover {
  transform: scale(1.01);
  box-shadow: var(--shadow-sm);
}

.titleCell {
  width: 50%;
}

.projectCell {
  width: 14%;
}

.statusHeaderCell {
  width: 12%;
}

.detailCell {
  width: 8%;
}

.empty {
  padding: var(--space-2);
  font-size: 12px;
}
