.pagination {
  display: flex;
}

.pageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--space-2);
  padding: var(--space-2);
  color: var(--font-color-dark);
  cursor: pointer;
}

.pageButton:hover {
  background: var(--primary-color);
  color: var(--font-color-light);
}

.pageButton[aria-disabled="true"] {
  cursor: default;
  pointer-events: none;
}

.activePage {
  color: var(--primary-color);
  font-weight: 700;
}
