.row {
  position: relative;
  display: flex;
  padding: var(--space-2) 0;
  transition:
    box-shadow 0.5s,
    transform 0.5s;
}

.row:hover {
  transform: scale(1.01);
  box-shadow: var(--shadow-sm);
}

.message {
  padding: var(--space-2);
  font-size: 12px;
}
