.tableRow {
  position: relative;
  display: flex;
  padding: var(--space-2) 0;
  transition:
    box-shadow 0.5s,
    transform 0.5s;
}

.tableRowOpen {
  z-index: var(--z-index-modal);
  transform: none;
  box-shadow: var(--shadow-sm);
}

.tableRow:not(.tableRowOpen):hover {
  transform: scale(1.01);
  box-shadow: var(--shadow-sm);
}

.tableCell {
  display: flex;
  align-items: center;
  width: 10%;
  padding: var(--space-2) 0;
  font-size: 12px;
}

.tableCell:first-child {
  padding-left: var(--space-4);
}

.titleCell {
  width: 50%;
}

.projectCell {
  width: 14%;
}

.statusCell {
  width: 12%;
  padding: 0;
}

.detailCell {
  width: 8%;
}
